node_modules/
dist/
out/
.next/
.turbo/
.env
.env.local
.env.production
*.log

# Foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/lib/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
brand-assets/
.vercel
packages/contracts/broadcast/
